

.odd{
    background-color: pink;
    font-family: "Verdana", "DejaVu Sans", "sans-serif";
}

.odd.three{
    font-size: 24 px;

}

#two{
    color: blue;
    font-size: 36 px;
}

#four{
    background-color: lightgreen;
    font-size: 24 px;
    font-weight: bold;
}