.affirmative,
.negative {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.affirmative {
    background-color: black;
    color: white;
}

.negative {
    background-color: yellow;
}